[package]
name = "media_sherlock"
version = "0.1.2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = "1.0"
serde_json = "1.0"
figlet-rs = "0.1.5"
winres = "0.1.12"
